.AboutMeContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: rgb(253, 232, 214);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.AboutMeContainer-header{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;
    text-align: center;
    color:#1a1818;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
  }

  .line {
    display: block;
    justify-content: center;
    margin-left: 15rem;
    width: 890px;
    height: 3px;
    padding: 0!important;
    background: black;
}
  
  
.AboutMeContainer-paragraph{
    position: relative;
    font-size: 25px;
    overflow: hidden;
    text-align: center;
    color:#1a1818;
    margin-left: 4rem;
    margin-right: 2rem;
  }

.h4{
    text-align: center;
    color:#1a1818;
    font-size: 20px;
}

.section4{
    display:flex;
    justify-content: center;
    flex-direction:ltr; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .AboutMeContainer {
      display: flex;
      align-content: center;
      margin-top: 0rem;
      font-size: 5px;
      font-family: 'Courier New', Courier, monospace;
      background-color: rgb(182, 165, 150);}

      .AboutMeContainer-header{
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-weight: 70;
        z-index: 1;
        text-align: center;
        color:#1a1818;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: inherit;
      }
    
      .line {
        display: block;
        justify-content: center;
        margin-left: 0.5rem;
        width: 90px;
        height: 2px;
        padding: 0!important;
        background: black;
    }
      
      
    .AboutMeContainer-paragraph{
        position: relative;
        font-size: 13px;
        overflow: hidden;
        text-align: center;
        color:#1a1818;
      }
    
    .h4{
        text-align: center;
        color:#1a1818;
        font-size: 12px;
        margin-left: 0rem;
        color: #09191f;
    }
    
    .section4{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction:ltr; 
    } 
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
  .line {
    display: block;
    justify-content: center;
    margin-left: 30rem;
    width: 890px;
    height: 3px;
    padding: 0!important;
    background: black;
}
}
*/
  