
/* Page's Containers */

.ContactMeContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-family: 'Courier New', Courier, monospace;
}

/* container's header and paragraph */

.section12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ContactMeContainer-header{
  display: flex;
  position: relative;
  font-size: 50px;
  font-weight: 10;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #6b6d70;
  margin-left: 18rem;
}

.lineContactMe {
    display: flex;
    justify-content: center;
    width: 690px;
    height: 1px;
    background: black;
    margin-top: -3rem;
    margin-left: 8rem;
}

.form {
  margin-left: 10rem;
  margin-top: 4rem;
}

.typoGraphyMe{
  display: flex;
  justify-content: center;
  background-color:#27829B;
  border-radius: 10%;
  height: 30rem;
  width: 37rem;
  padding-top: 2rem;
}

.textField{
  width: 30rem;
}

/* Transition modal */
.transistionModalText{
  display:flex;
  justify-content:center;
  background-color:black;
  color:white;
  margin:18rem;
  margin-left: 25rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  height: 10rem;
  width: 40rem;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .ContactMeContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .section12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ContactMeContainer-header{
    
    font-size: 20px;
    font-weight: 10;
    z-index: 1;
    text-align: center;
    color: #6b6d70;
    margin-bottom: -1rem;
    margin-left: 8rem;
    
  }
  .ContactMeContainer-header1{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 25px;
    font-weight: 5;
    z-index: 1;
    overflow: hidden;
    margin-right: 0;
  }

  .lineContactMe {
    width: 390px;
    height: 0;
    background: black;
    margin-top: 1rem;
}

.form {
  margin-left: 2rem;
  margin-top: 2rem;
}
  
  
  
  .typoGraphyMe{
    display: flex;
    justify-content: center;
    background-color:#27829B;
    border-radius: 5%;
    height: 35rem;
    width: 20rem;
    padding-top: 2rem;
  }
  
  .textField{
    width: 18rem;
  }
  
  /* Transition modal */
  .transistionModalText{
    display:flex;
    justify-content:center;
    background-color:black;
    color:white;
    margin:0;
    margin-left: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    height: 5rem;
    width: 10rem;
  
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Transition modal */
  .transistionModalText{
    display:flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    background-color:black;
    color:white;
    margin:20rem;
    margin-left: 50rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    height: 15rem;
    width: 25rem;
  
  }

}



