.homePageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:whitesmoke;
}

.section11 {
  flex-direction: column;
  background-color:#C47E44;
  margin: 5rem;
  margin-left: 18rem;
  height:43rem;
  width:43rem;
  border-radius:15rem;
}

.section22 {
 display: flex;
 justify-content: center;
 margin-top: 5rem;
}

.briefIntro {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.lineSocial {
  background-color:black;
  float:none;
  display:block;
  width:670px;
  height:2px;
  margin-bottom:2rem;
  margin-top:-0.5rem;
  margin-left:23rem;
}

.myEmail {
  margin-top:-1rem;
  margin-left: 8rem;
  margin-bottom:2rem;
}

.lineEmail {
  background-color:black;
  float:none;
  display:block;
  width:910px;
  height:2px;
  margin-top:-2rem;
  margin-left: 8rem;
}

/* Social */
.socialMedia{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 2rem;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}
  
  .fa:hover {
    opacity: 0.9;
  }
  
  
  /* Social-Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Social-LinkedIn*/
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  /*Social-Git*/
  .fa-bitbucket {
    background: #016491;
    color: white;
  }
  .list{
    list-style-type: none;
    width: 4rem;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section11 {
    flex-direction: column;
    background-color:#C47E44;
    margin: 1rem;
    margin-left: 2rem;
    height:40rem;
    width:18rem;
    border-radius:5rem;
  }
  .carreaux_presentation_light
  {
    width:100px; height:100px;
    background-size:cover;
    overflow: hidden;
    position: relative;
    border-radius:'20%';
    margin-top: -3rem;
  }

  .section22 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
   }
   
   .briefIntro {
     text-align: center;
     margin-top: 1rem;
     font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
     font-size: 15px;
   }
   
   .lineSocial {
     background-color:blue;
     float:none;
     display:block;
     width:0;
     height:0;
   }
   
   .myEmail {
     margin-left: 1rem;
     margin-bottom:0rem;
   }
   
   .lineEmail {
     background-color:black;
     float:none;
     display:block;
     width:0;
     height:0;
   }
   
   /* Social */
   .socialMedia{
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: space-around;
       margin-left: 0.5rem;
       margin-top: 1rem;
   }
   
   .fa {
     padding: 15px;
     width: 30px;
     text-align: center;
     text-decoration: none;
     border-radius: 40%;
   }
     .list{
       list-style-type: none;
       width: 5rem;
     }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
  .lineSocial {
    background-color:black;
    float:none;
    display:block;
    width:910px;
    height:2px;
    margin-bottom:2rem;
    margin-top:-0.5rem;
    margin-left:23rem;
  }
  
  .lineEmail {
    background-color:black;
    float:none;
    display:block;
    width:1150px;
    height:2px;
    margin-top:-2rem;
    margin-left: 8rem;
  }
}
*/



  