/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contactMecontainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    
    .undered {
        margin-left: 15rem;
        margin-right: 0rem;
        margin-right: auto;
        float: none;
    }
    .line {
        display: block;
        width: 890px;
        height: 3px;
        padding: 0!important;
        background: black;
        margin-top: -2rem;
        margin-bottom: 5rem;
    }
    
    .colFull{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 3rem;
    }
    
    
    h2 {
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        
    }
    
    .section1-title {
        
        font-size: 3em;;
        font-weight: 300;
        color: black;
        text-transform: uppercase;
        display: block;
        text-align: center;
        letter-spacing: 0.1em;
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    }
    
    .moreToCome {
        margin-left: 37rem;
        margin-right: 7rem;
        color: whitesmoke;
    
    }
    /***********************************************************************************/
    
    @import url('https://fonts.googleapis.com/css?family=Rozha+One');
    @import url('https://fonts.googleapis.com/css?family=Raleway|Rozha+One');
    
    .col4 {width: 27%; float: left; position: relative}
    .transition {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;}
    body .container {display: flex; flex-wrap: wrap; justify-content: space-around; overflow: hidden;background-color:#0e232b;border-radius: 0%; height: 500px;}
    .fx2 .item {margin: 10px 0;display: flex; flex-wrap: wrap; justify-content: space-evenly; overflow: hidden;height: 390px;}
    
    /* active on focus for accessibility tab navigation */
    
    .fx2 .item {padding: 0;margin-left: 3rem; border-radius: 4%; margin-top: 4rem}
    .fx2 .item img {padding: 0 !important; display: block; max-width: 100%; height: auto;}
    .fx2 a:hover .item img, .fx2 a:focus .item img {opacity: 0.9; -webkit-transform: scale(0.95); transform: scale(0.95);}
    .fx2 h4, .fx2 p, .fx2 span {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;} 
    .fx2 a .item h4 {font-family: 'Raleway', sans-serif; font-size: 16px; position: absolute; color:black; text-transform: uppercase; letter-spacing: 2px; position: absolute; top:42%; left:0; right:0; margin:0 auto; text-align: center; -webkit-filter: blur(5px); filter: blur(5px); opacity: 0;}
    .fx2 a:hover .item h4, .fx2 a:focus .item h4 {-webkit-filter: blur(0px); filter: blur(0px); opacity: 1;}
    .fx2 a .item p {font-family: 'Raleway', sans-serif; font-size: 8px; position: absolute; color:black; text-transform: uppercase; letter-spacing: 2px; position: absolute; top:53%; left:0; right:0; margin:0 auto; text-align: center; opacity: 0;}
    .fx2 a:hover .item p, .fx2 a:focus .item p {opacity: 1;}
  } 


@media screen and (max-width: 991px) {
.col4 {width: 50%;}
.fx5 a .item h4 {font-size: 13px;}
}   

@media screen and (max-width: 580px) {
.col4 {width: 90%;}
} 

@media only screen and (max-width: 600px) {
    .contactMecontainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    body .container {display: flex; flex-wrap: wrap; justify-content: space-around; overflow: hidden;background-color:#0e232b;border-radius: 0%; height: 700px;}
    .fx2 .item {margin: 20px 0;display: flex; flex-wrap: wrap; justify-content: space-evenly; overflow: hidden;height: 150px;}
    
    .undered {
        margin-left: 0;
        margin-right: 0rem;
        margin-right: auto;
        float: none;
    }
    .line {
        display: block;
        width: 0px;
        height: 0;
        padding: 0!important;
        background: black;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .colFull{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1rem;
    }
    
    
    h2 {
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        
    }
    
    .section1-title {
        
        font-size: 1.3rem;;
        font-weight: 100;
        color: black;
        text-transform: uppercase;
        display: block;
        text-align: center;
        letter-spacing: 0.1em;
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    }
    
    .moreToCome {
        margin-left: 37rem;
        margin-right: 7rem;
        color: whitesmoke;
    
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
    .undered {
        margin-left: 30rem;
        margin-right: 0rem;
        margin-right: auto;
        float: none;
    }
    .line {
        display: block;
        width: 890px;
        height: 3px;
        padding: 0!important;
        background: black;
        margin-top: -2rem;
        margin-bottom: 5rem;
    }
    
    .moreToCome {
        margin-left: 50rem;
        margin-right: 50rem;
        color: whitesmoke;
    
    }
  }*/

  

  